.cardNews{
    border: 0.2px solid black;
    border-radius: 10px;
    width: 400px;
}

.cardNews--img{
    border-radius: 10px;
    margin: 10px 10px 0 10px;
    width: 380px;
    height: 380px;
}

.cardNews--title{
    width: 370px;
    margin-left: 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
